#ubicacion{
    font-family: 'Marcellus', serif;
}

#ubicacion .title{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: 'Marcellus', serif;
}

#ubicacion .maps iframe{
    width: 100%;
    height: 305px;
}

#ubicacion .direccion{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Marcellus', serif;
}

#ubicacion .colombia{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: .1rem;
    font-family: 'Marcellus', serif;
}

#ubicacion hr{
    height: 2.5px;
    width: 95%;
    background-color: var(--azulclaro);
    margin-left: 10px;
}

#ubicacion .telefono{
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 1rem 0 2rem;
    font-family: 'Marcellus', serif;
}